body {
  background-color: #202020;
  margin: 0px;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 70%;
}

.title {
   position: relative;
   left: 80px;
   font-size: 2.3vw;
   color: #FAEBD7;
   font-family: Akira Expanded;
   letter-spacing: 20px;
   text-shadow: 30px 20px 7px burlywood, 0 0 7px black; 
   opacity: 80%;
   filter: blur(1px);
}

.link a{
   position: relative;
   padding: 13px;
   left: 170px;
   font-family: IBM Plex Sans JP ExtraLight;
   color: navajowhite;
   text-align: left;
   text-decoration: none;
   letter-spacing: 3px;
   font-size: 1.1vw;
   text-shadow: 4px 4px 7px orangered, 0 0 7px; 
}

#link1 { 
   display: inline-block;
   position: relative;
   opacity: 0%;
   left: 0px;
   transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  left: 10px;
  opacity: 80%;
}

#link2 {
   display: inline-block;
   position: relative;
   opacity: 0%;
   left: 0px;
   transition: left 1s, opacity 2s;
   transition-delay: 1s;
}

.link:hover > #link2 {
  left: 10px;
  opacity: 80%;
}

#link3 { 
   display: inline;
   position: relative;
   opacity: 0%;
   left: 0px;
   transition: left 1s, opacity 2s;
   transition-delay: 2s;
}

.link:hover > #link3 {
  left: 10px;
  opacity: 80%;
}

.Jay {
   position: relative;
   top: 180px;
   font-size: 3vw;
   font-family: akira 190 glypsh;
   color: tomato;
   text-shadow: 2px 2px 5px sandybrown, 0 0 25px goldenrod, 0 0 5px;
   letter-spacing: 45px;
}

 .div3 {
  top: 0px;
  left: 0px;
  padding: 70px;
  font-family: Prince Valiant;
  src: url(prince valiant.ttf);
  font-size: 2vw;
  color: sandybrown;
  letter-spacing: 7px;
  text-shadow: 2px 2px 5px tomato;
}

#intropar {
  position: sticky;
  top: 0px;
  left: 0px;
  font-family: "Bebas Neue", sans-serif;
  color: navajowhite;
  letter-spacing: 3px;
  font-size: 1vw;
  text-shadow: 2px 2px 5px tomato;
}

@media screen and (max-width: 650.4px) {
  .title {
    left: 30px;
    font-size: 2.2vw;
    letter-spacing: 15px;
 }
  .link a{
     padding: 10px 23px;
     left: 70px;
     letter-spacing: 3px;
     font-size: 1.7vw;
 }
  .link a:hover {
     font-size: 1.8vw;
 }
  .Jay {
     top: 180px;
     font-size: 3vw;
     letter-spacing: 45px;
 }
}