
body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  color: #b7ccdf;
  font-family: Alte Haas Grotesk;
  letter-spacing: 1px;
  text-shadow: 30px 20px 8px #7a84a3, 
               10px 10px 70px #222930; 
  opacity: 60%;
  filter: blur(1.7px);
}

h1 {
  font-size: 18vw !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #949FAB, 
               2px 2px 6px #87bcef !important;  
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  animation-name: link1;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

#link1:hover {
  font-weight: bold;
}

@keyframes link1 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

#link2 { 
  opacity: 0%;
  animation-name: link2;
  animation-duration: 1.8s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

#link2:hover {
  font-weight: bold;
}

@keyframes link2 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

#link3 { 
  opacity: 0%;
  animation-name: link3;
  animation-duration: 1.8s;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

#link3:hover {
  font-weight: bold;
}

@keyframes link3 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div5 {
  bottom: 60px;
  box-shadow: 20px 40px 100px #222629, 
              -20px -40px 150px #222629;
  background-image: url("Images/upscalemediatransformed.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-blend-mode: darken;
}

.intropar {  
  font-family: Noto Sans Light;
  color: #cdd6ff;
  text-align: justify;
  font-size: 1.8vh !important;
  letter-spacing: 1px;
  filter: blur(0.5px);
  text-shadow: 2px 1px 9px #cdd6ff,
               -2px -1px 9px #cdd6ff;
  text-align: justify;
  overflow: scroll !important;
  opacity: 60%;
  left: 45px;
  height: 90% !important;
  width: 70% !important;
}

.head {
  font-family: Alte Haas Grotesk;
  color: #94a4d7 !important;
  text-shadow: 5px 5px 10px #738290,
               -5px -3px 8px #677e89 !important; 
  font-size: 11vw;
  letter-spacing: 1px;
  opacity: 90%;
  filter: blur(1.2px);
}

h4 {
  font-size: 5vw;
}

h3 {
  font-size: 5vw;
}

p {
  font-size: 3.3vw;
}

ul {
  font-size: 2.9vw;
}

.foot {
  font-family: monospace;
  color: #cdd6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  opacity: 60%;
  letter-spacing: 1.8px;
}

.footpar {
  font-size: 1.5vh !important;
}


@media (min-width: 576px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 768px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 992px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat !important;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 1200px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 8vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 1400px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.h-50 {
  height: 27% !important;
}

.h-25 {
  height: 10% !important;
}

.h-75 {
  height: 30% !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
}

.title {   
  color: #b7ccdf;
  font-family: Alte Haas Grotesk;
  letter-spacing: 1px;
  text-shadow: 50px 40px 9px #7a84a3, 
               10px 10px 70px #222930; 
  opacity: 60%;
  filter: blur(2.2px);
}

h1 {
  font-size: 11vh !important;
}

.link a{
 font-family: Noto Sans;
  color: #cdd6ff;
  text-align: left;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 2.5vh !important;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
 filter: blur(1px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  animation: none !important;
}

#link1:hover {
  transition: left 1s, 
              opacity 2s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link2 {
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  animation: none !important;
}

.link:hover > #link2 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link3 {
  left: -100px !important; 
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  animation: none !important;
}

.link:hover > #link3 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

.hrClass {
  border-color: #3b4f5f !important;
  top: -10px;
}

.div5 {
  top: 60px !important;
  background-image: url("Images/upscalemediatransformed.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-blend-mode: darken;
}

.intropar {  
  left: 45px;
  box-shadow: 20px -300px 300px #373e4a,
              200px 300px 200px #222629;
  height: 90% !important;
  width: 70% !important;
  filter: blur(1px);
}

.head {
  color: #9facf9;
  font-size: 4vw;
  letter-spacing: 1px;
  filter: blur(1.8px);
  text-shadow: 5px 5px 20px #353d84,
               -5px -3px 8px #2b2f31;
}

#setting {
  font-family: Alte Haas Grotesk;
  font-size: 2vw !important;
}

h3 {
  font-family: Alte Haas Grotesk;
  font-size: 1.7vw;
  letter-spacing: 9px;
}

p {
  font-size: 0.9vw !important;
  letter-spacing: 4px;
}

ul {
  font-size: 0.9vw !important;
}


.foot {
  font-family: monospace;
  font-size: 1.5vh !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
  bottom: 20px;
}

}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}