
body {
  filter: contrast(80%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #a8afff;
  font-family: Alte Haas Grotesk;
  letter-spacing: 10px;
  text-shadow: 30px 20px 8px #646e91, 
               10px 10px 70px #222629; 
  opacity: 70%;
  filter: blur(1.5px);
}

h1 {
  font-size: 4vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px;
  opacity: 0%;
  transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  transition: left 1s, opacity 2s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link2 {
  left: -100px;
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 0.5s;
}

.link:hover > #link2 {
  transition: left 1s, opacity 2s;
  transition-delay: 0.5s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link3 {
  left: -100px; 
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 1s;
}

.link:hover > #link3 {
  transition: left 1s, 
  opacity 2s;
  transition-delay: 1s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div5 {
  bottom: 60px;
  box-shadow: 20px 40px 100px #222629, 
              -20px -40px 150px #222629;
  background-image: url("Images/upscalemediatransformed.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-blend-mode: darken;
}

.intropar {  
  font-family: Noto Sans Light;
  color: #cdd6ff;
  letter-spacing: 2px;
  text-shadow: 5px 3px 5px #353d84,
               -5px -3px 5px #353d84;
  text-align: justify;
  overflow: scroll !important;

  opacity: 60%;
  left: 45px;
  height: 90% !important;
  width: 70% !important;
}

.head {
  font-family: Alte Haas Grotesk;
}

h4 {
  font-size: 5vw;
}

h3 {
  font-size: 5vw;
}

p {
  font-size: 3.3vw;
}

ul {
  font-size: 2.9vw;
}

.foot {
  font-family: monospace;
  color: #cdd6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  opacity: 60%;
  letter-spacing: 1.8px;
}

.footpar {
  font-size: 1.5vh !important;
}


@media (min-width: 576px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 768px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 992px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 1200px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 8vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 1400px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.h-25 {
  height: 10% !important;
}

.h-75 {
  height: 30% !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("/../images/oil3.jpg");
}

.title {   
  letter-spacing: 12px;
  text-shadow: 50px 25px 8px #646e91, 
               10px 10px 7px #222629; 
  opacity: 70%;
  filter: blur(2.7px);
}

h1 {
  font-size: 10vh !important;
}
  
.link a{
 font-family: Noto Sans;
  color: #cdd6ff;
  text-align: left;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 2.5vh !important;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
 filter: blur(1px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px;
  opacity: 0%;
  transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  transition: left 1s, opacity 2s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link2 {
  left: -100px;
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 0.5s;
}

.link:hover > #link2 {
  transition: left 1s, opacity 2s;
  transition-delay: 0.5s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link3 {
  left: -100px; 
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 1s;
}

.link:hover > #link3 {
  transition: left 1s, 
  opacity 2s;
  transition-delay: 1s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

.hrClass {
  border-color: #3b4f5f !important;
  top: 20px;
}

.div5 {
  height: 30% !important;
  top: 90px !important;
}

.intropar {  
  left: 45px;
  box-shadow: 20px -300px 300px #373e4a,
              200px 300px 200px #222629;
  height: 90% !important;
  width: 70% !important;
  filter: blur(1px);
}

.head {
  color: #9facf9;
  font-size: 2.5vw;
  letter-spacing: 13px;
  filter: blur(1.8px);
  text-shadow: 5px 5px 20px #353d84,
               -5px -3px 8px #2b2f31;
}

#setting {
  font-size: 2vw !important;
}

h3 {
  font-size: 2.5vw;
  letter-spacing: 9px;
}

p {
  font-size: 0.9vw !important;
  letter-spacing: 4px;
}

ul {
  font-size: 0.9vw !important;
}

.foot {
  font-size: 2vh !important;
  letter-spacing: 0.5px;
  bottom: -250px;
}

}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}
