 
 body {
  filter: contrast(70%);
  opacity: 100%;
  background-blend-mode: color-dodge, screen;
  background-image: url("Images/oil3.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #b7ccdf;
  font-family: Alte Haas Grotesk;
  letter-spacing: 1px;
  text-shadow: 30px 20px 8px #7a84a3, 
               10px 10px 70px #222930; 
  opacity: 60%;
  filter: blur(1.7px);
}

h1 {
  font-size: 18vw !important;
}


.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #949FAB, 
               2px 2px 6px #87bcef !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  animation-name: link1;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

#link1:hover {
  font-weight: bold !important;
}

@keyframes link1 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

#link2 { 
  opacity: 0%;
  animation-name: link2;
  animation-duration: 1.8s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

#link2:hover {
  font-weight: bold !important;
}

@keyframes link2 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

#link3 { 
  opacity: 0%;
  animation-name: link3;
  animation-duration: 1.8s;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

#link3:hover {
  font-weight: bold !important;
}

@keyframes link3 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div2 {
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

.accordion-item {
    border: none;
    background: transparent;
    color: #646e8f;
}

.accordion-header {
    background: transparent !important;
    opacity: 80%;
}

.accordion-button {
    font-family: Alte Haas Grotesk;
    letter-spacing: 10px;
    font-size: 15vw;
    filter: blur(0.8px);
    background: transparent !important;
    color: #94a4d7 !important;
    text-shadow: 5px 5px 10px #738290,
               -5px -3px 8px #677e89 !important; 
}

.accordion-button:hover {
  color: #b6c6fe !important;
  font-size: 15.5vw !important;
}

.accordion-body {
  font-family: noto sans light;
  text-shadow: 2px 1px 9px #cdd6ff,
               -2px -1px 9px #cdd6ff;
  filter: blur(0.5px);
  text-align: justify;
  color: #cdd6ff;
  letter-spacing: 2.5px;
  font-size: 1.7vh;
  background: transparent;
  opacity: 70%;
  max-height: 30vh;
}

.accordion-collapse:active {
  background: transparent !important;
  color: #8598d7 !important;
}

.accordion-body a{
  text-decoration: none;
  color: #a6b5ff;
}

.accordion-body a:hover {
  font-weight: bold;
  color: #86cff1;
  text-shadow: 1px 2px 3px #aebdff, 
                 1px 1px 7px #eaf6ff !important; 
}

.vidHTML {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.vidCSS {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.foot {
  font-family: monospace;
  color: #cdd6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 1.8px;
  opacity: 60%;
}

@media (min-width: 576px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #a8afff;
  font-family: Akira Expanded;
  letter-spacing: 10px;
  text-shadow: 30px 20px 8px #646e91, 
               10px 10px 70px #222629; 
  opacity: 70%;
  filter: blur(1.5px);
}

h1 {
  font-size: 4vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  animation: none !important;
}

#link1:hover {
  transition: left 1s, 
              opacity 2s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link2 {
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  animation: none !important;
}

.link:hover > #link2 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link3 {
  left: -100px !important; 
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  animation: none !important;
}

.link:hover > #link3 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div2 {
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

.accordion-item {
    border: none;
    background: transparent;
    color: #646e8f;
}

.accordion-header {
    background: transparent !important;
    opacity: 80%;
}

.accordion-body {
  font-family: noto sans light;
  text-align: justify;
  color: #fff;
  letter-spacing: 2.5px;
  font-size: 1.7vh;
  background: transparent;
  opacity: 70%;
  max-height: 43vh;
}

.accordion-collapse:active {
  background: transparent !important;
  color: #646e8f !important;
}

.vidHTML {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.vidCSS {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.foot {
  font-family: monospace;
  font-size: 1.5vw !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
  bottom: 20px;
}

}

@media (min-width: 768px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.h-25 {
  height: 20% !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #a8afff;
  font-family: Akira Expanded;
  letter-spacing: 10px;
  text-shadow: 30px 20px 8px #646e91, 
               10px 10px 70px #222629; 
  opacity: 70%;
  filter: blur(1.5px);
}

h1 {
  font-size: 4vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px;
  opacity: 0%;
  transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  transition: left 1s, opacity 2s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link2 {
  left: -100px;
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 0.5s;
}

.link:hover > #link2 {
  transition: left 1s, opacity 2s;
  transition-delay: 0.5s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link3 {
  left: -100px; 
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 1s;
}

.link:hover > #link3 {
  transition: left 1s, 
  opacity 2s;
  transition-delay: 1s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div2 {
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

.accordion-item {
    border: none;
    background: transparent;
    color: #646e8f;
}

.accordion-header {
    background: transparent !important;
    opacity: 80%;
}

.accordion-body {
  font-family: noto sans light;
  text-align: justify;
  color: #fff;
  letter-spacing: 2.5px;
  font-size: 1.7vh;
  background: transparent;
  opacity: 70%;
  max-height: 43vh;
}

.accordion-collapse:active {
  background: transparent !important;
  color: #646e8f !important;
}

.vidHTML {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.vidCSS {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.foot {
  font-family: monospace;
  font-size: 2vh !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
}

}

@media (min-width: 992px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.h-25 {
  height: 20% !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #a8afff;
  font-family: Akira Expanded;
  letter-spacing: 10px;
  text-shadow: 30px 20px 8px #646e91, 
               10px 10px 70px #222629; 
  opacity: 70%;
  filter: blur(1.5px);
}

h1 {
  font-size: 4vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px;
  opacity: 0%;
  transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  transition: left 1s, opacity 2s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link2 {
  left: -100px;
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 0.5s;
}

.link:hover > #link2 {
  transition: left 1s, opacity 2s;
  transition-delay: 0.5s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link3 {
  left: -100px; 
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 1s;
}

.link:hover > #link3 {
  transition: left 1s, 
  opacity 2s;
  transition-delay: 1s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div2 {
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

.accordion-item {
    border: none;
    background: transparent;
    color: #646e8f;
}

.accordion-header {
    background: transparent !important;
    opacity: 80%;
}

.accordion-body {
  font-family: noto sans light;
  text-align: justify;
  color: #fff;
  letter-spacing: 2.5px;
  font-size: 1.7vh;
  background: transparent;
  opacity: 70%;
  max-height: 43vh;
}

.accordion-collapse:active {
  background: transparent !important;
  color: #646e8f !important;
}

.vidHTML {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.vidCSS {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.foot {
  font-family: monospace;
  font-size: 2vh !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
}

}

@media (min-width: 1200px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

.h-25 {
  height: 20% !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #a8afff;
  font-family: Akira Expanded;
  letter-spacing: 10px;
  text-shadow: 30px 20px 8px #646e91, 
               10px 10px 70px #222629; 
  opacity: 70%;
  filter: blur(1.5px);
}

h1 {
  font-size: 4vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px;
  opacity: 0%;
  transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  transition: left 1s, opacity 2s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link2 {
  left: -100px;
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 0.5s;
}

.link:hover > #link2 {
  transition: left 1s, opacity 2s;
  transition-delay: 0.5s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

#link3 {
  left: -100px; 
  opacity: 0%;
  transition: left 1s, 
              opacity 2s;
  transition-delay: 1s;
}

.link:hover > #link3 {
  transition: left 1s, 
  opacity 2s;
  transition-delay: 1s;
  left: 0;
  opacity: 80%;
  width: 70%;
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div2 {
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

.accordion-item {
    border: none;
    background: transparent;
    color: #646e8f;
}

.accordion-header {
    background: transparent !important;
    opacity: 80%;
}

.accordion-body {
  font-family: noto sans light;
  text-align: justify;
  color: #fff;
  letter-spacing: 2.5px;
  font-size: 1.7vh;
  background: transparent;
  opacity: 70%;
  max-height: 43vh;
}

.accordion-collapse:active {
  background: transparent !important;
  color: #646e8f !important;
}

.vidHTML {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.vidCSS {
  width: 60vw;
  height: 70vh;
  filter: invert(100%);
}

.foot {
  font-family: monospace;
  font-size: 2vh !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
}

}

@media (min-width: 1400px) { 
  
.vh-100 {
  height: 110vh !important;
}

.h-100 {
  height: 110vh !important;
}

.h-25 {
  height: 10% !important;
}

.h-75 {
  height: 30% !important;
}

 body {
  filter: contrast(70%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #b7ccdf;
  font-family: Alte Haas Grotesk;
  letter-spacing: 1px;
  text-shadow: 50px 40px 9px #7a84a3, 
               10px 10px 70px #222930; 
  opacity: 60%;
  filter: blur(2.2px);
}

h1 {
  font-size: 11vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 2.5vh !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 5px;
  text-shadow: 3px 5px 8px #96a3e8, 
               2px 5px 3px #222629 !important; 
  filter: blur(1px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  animation: none !important;
}

#link1:hover {
  transition: left 1s, 
              opacity 2s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link2 {
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  animation: none !important;
}

.link:hover > #link2 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link3 {
  left: -100px !important; 
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  animation: none !important;
}

.link:hover > #link3 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

.hrClass {
  border-color: #3b4f5f !important;
  top: 70px;
}

.div2 {
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

.accordion-item {
    border: none;
    background: transparent;
    color: #646e8f;
}

.accordion-header {
    background: transparent !important;
    opacity: 80%;
    width: 75%;
}

.accordion-button {
    font-family: Alte Haas Grotesk;
    letter-spacing: 1px;
    font-size: 4vw;
    filter: blur(2px);
    background: transparent !important;
    color: #94a4d7 !important;
    text-shadow: 5px 5px 10px #738290,
               -5px -3px 8px #677e89 !important; 
    transition: font-size 1s;
}

.accordion-button:hover {
  color: #b6c6fe !important;
  font-size: 15.5vw;
}

.accordion-body {
  font-family: noto sans light;
  text-align: justify;
  color: #fff;
  text-shadow: 2px 2px 7px #bdc9ff, 
                 2px 6px 5px #222629 !important; 
  letter-spacing: 2.5px;
  font-size: 1.9vh;
  background: transparent;
  opacity: 70%;
  max-height: 33vh;
  width: 75% !important;
}

.accordion-collapse:active {
  background: transparent !important;
  color: #8598d7 !important;
}

.accordion-body a{
  text-decoration: none;
  color: #a6b5ff;
}

.accordion-body a:hover {
  font-weight: bold;
  color: #e9eeff;
  text-shadow: 1px 2px 3px #90a4ff, 
                 1px 1px 7px #eaf6ff !important; 
}

.vidHTML {
  height: 50vh !important;
  filter: invert(100%);
}

.vidCSS {
  height: 50vh !important;
  filter: invert(100%);
}

.foot {
  font-family: monospace;
  font-size: 1vw !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
  bottom: -60px;
}

}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}