html {
 height: 100%;
 width: 100%;
}

 body {
  background-color: #2a2220;
  margin: 0px;
  display: grid;
  min-height: 140vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 37.5% 90%;
  height: 100%;
}

.title {
   position: relative;
   left: 80px;
   font-size: 2.3vw;
   color: #FAEBD7;
   font-family: Akira Expanded;
   letter-spacing: 20px;
   text-shadow: 30px 20px 8px burlywood, 10px 10px 70px black; 
   opacity: 70%;
   filter: blur(1px);
}

.link a{
   position: relative;
   padding: 13px;
   left: 170px;
   font-family: IBM Plex Sans JP ExtraLight;
   color: navajowhite;
   text-align: left;
   text-decoration: none;
   letter-spacing: 5px;
   font-size: 1vw;
   text-shadow: 4px 4px 7px orangered, 0 0 7px; 
}

#link1 { 
   display: inline;
   position: relative;
   opacity: 0%;
   left: 0px;
   transition: left 1s, opacity 2s;
}

.link:hover > #link1 {
  left: 10px;
  opacity: 80%;
  background-color: #101010;
  width: 70%;
}

#link2 {
   display: inline;
   position: relative;
   opacity: 0%;
   left: 0px;
   transition: left 1s, opacity 2s;
   transition-delay: 1s;
}

.link:hover > #link2 {
  left: 10px;
  opacity: 80%;
}

#link3 { 
   display: inline;
   position: relative;
   opacity: 0%;
   left: 0px;
   transition: left 1s, opacity 2s;
   transition-delay: 2s;
}

.link:hover > #link3 {
  left: 10px;
  opacity: 80%;
}

.div3 {
  box-shadow: -30px 45px 100px #000000, -5px 5px 300px #836953;
  background: #202020;
  border-style: double;
  border-width: 5px;
  border-color: #383838;
  display: inline-block;
  position: sticky;
  filter: blur(0.5px);
  width: 23%;
  height: 50%;
  left: 270px;
  top: 450px;
  opacity: 85%;
}

.codeport {
  display: inline-block;
  font-family: Akira Expanded;
  font-size: 0.9vw;
  letter-spacing: 2px;
  text-align: center;
  list-style: none;
  opacity: 85%;
  bottom: 320px;
  line-height: 65px;
  position: sticky;
  padding-right: 30px;
  padding-top: 5px;
  text-shadow: 2px 5px 4px #c3b091;
}

.codeport a {
  text-decoration: none;
  color: navajowhite;
  text-align: center;
  list-style: none;
}

.codeport a:hover {
  text-decoration: bold;
  color: #a99a86;
  font-size: 1vw;
  text-shadow: 3px 6px 5px #8a795d;
}


 .div4 {
  position: relative;
  top: 60px;
  right: 250px;
  opacity: 85%;
  filter: blur(0.5px);
  box-shadow: -25px 45px 150px #000000, 20px 30px 300px navajowhite;
  background: #3a3330;
  border-style: double;
  border-width: 5px;
  border-color: #2a2920;
  height: 95%;
  width: 90%;
}

 .div4title {  
  position: absolute;
  right: 50px;
  bottom: 430px;
  font-family: prince valiant;
  font-size: 2vw;
  color: #FAEBD7;
  letter-spacing: 9px;
  text-shadow: 2px 7px 5px sandybrown;
  opacity: 85%;
  filter: blur(1px);
  width: 100%;
}

.intropar {
   display: inline;
   text-align: justify;
   position: absolute;
   font-family: IBM Plex Sans JP ExtraLight;
   font-size: 1vw;
   color: navajowhite;
   letter-spacing: 3px;
   text-shadow: 3px 3px 5px blanchedalmond;
   padding: 30px;
}

.intropar span {
  align-self: flex-end;
}

.div6 {
  position: relative;
  top: 150px;
  right: 250px;
  opacity: 85%;
  filter: blur(0.5px);
  box-shadow: -25px 45px 150px #000000, 20px 30px 300px navajowhite;
  background: #3a3330;
  border-style: double;
  border-width: 5px;
  border-color: #2a2920;
  height: 50%;
  width: 90%;
  margin-bottom: 100px;
}

 .div6title {  
  position: absolute;
  right: 50px;
  bottom: 550px;
  font-family: prince valiant;
  font-size: 2vw;
  color: #FAEBD7;
  letter-spacing: 9px;
  text-shadow: 2px 7px 5px sandybrown;
  opacity: 85%;
  filter: blur(1px);
  width: 100%;
}

.intropar6 {
   display: inline;
   text-align: justify;
   position: absolute;
   font-family: IBM Plex Sans JP ExtraLight;
   font-size: 1vw;
   color: navajowhite;
   letter-spacing: 3px;
   text-shadow: 3px 3px 5px blanchedalmond;
   padding: 30px;
}

.intropar6 span {
  align-self: flex-end;
}

.intropar6 a {
  text-decoration: none;
  color: sandybrown;
}

@media screen and (max-width: 650.4px) {
  .container {

  }
  .div1 {

  }
  .img {
 
  }
  .div2 {

  }
  .div3 {

  }
  .div4 {

  }
}
