
body {
  filter: contrast(80%);
  opacity: 100%;
  background-image: url("Images/oil3.jpg");
  background-blend-mode: color-dodge, screen;
  background-repeat: no-repeat;
  background-size: cover; 
}

.title {   
  color: #a8afff;
  font-family: Alte Haas Grotesk;
  letter-spacing: 7px;
  text-shadow: 30px 20px 8px #646e91, 
               10px 10px 70px #9ca8f3; 
  opacity: 60%;
  filter: blur(1.5px);
}

h1 {
  font-size: 6.5vh !important;
}

.link a{
  font-family: Noto Sans Light;
  color: #cdd6ff;
  font-size: 4vw !important;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
  opacity: 110%;
}

#link1 { 
  animation-name: link1;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

@keyframes link1 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

#link2 { 
  opacity: 0%;
  animation-name: link2;
  animation-duration: 1.8s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes link2 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

#link3 { 
  opacity: 0%;
  animation-name: link3;
  animation-duration: 1.8s;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

@keyframes link3 {
  from {left: -100px;
        opacity: 0%;}
  to {left: 0;
      opacity: 100%;}
}

.hrClass {
  border-color: #3b4f5f !important;
}

.div3 {
  filter: blur(0px);
  opacity: 70% !important;
}

.overlay {
  opacity: 70%;
  height: 100%;
}

.carous1 {
  transition: .5s ease;
  transition-delay: 1s;
  opacity: 50% !important;
  filter: blur(1.5px) invert(110%);
  mix-blend-mode: color-dodge;
}

.intro {
  font-family: Noto Sans Light;
  color: #cdd6ff;
  text-shadow: 2px 1px 9px #cdd6ff,
               -2px -1px 9px #cdd6ff;
  box-shadow: 20px -20px 300px #4a5262,
              200px 300px 200px #22292e,
              0 0 10px #22292e;
  letter-spacing: 2px;
  left: 200px;
  opacity: 0%;
  transition: .5s ease;
  transition-delay: 1s;
  background-color: #212529;
  width: 300px;
  height: 150px;
  border-radius: 8px;
}

.header1 {
  font-family: Alte Haas Grotesk;
  text-shadow: 5px 5px 10px #4952a7,
               -5px -3px 8px #2b2f31;
  filter: blur(1.2px);
}

.para {
  text-align: justify;
  font-size: 1.8vh !important;
  letter-spacing: 1px;
  filter: blur(0.5px);
}

.overlay:hover .carousel-inner {
  opacity: 0.3;
}

.overlay:hover .intro {
  opacity: 90% !important;
}

.foot {
  font-family: monospace;
  font-size: 1.5vh !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
  bottom: -60px;
}

@media (min-width: 576px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 768px) { 
  
.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 992px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 4vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 1.8vh;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 1200px) { 

.vh-100 {
  height: 200vh !important;
}

.h-100 {
  height: 200vh !important;
}

body {
  filter: contrast(80%);
  opacity: 100%;
  background-blend-mode: color-dodge, 
                         screen;
  background: url("Images/oil3.jpg") 
              no-repeat;
  background-size: cover; 
}

.title {   
  letter-spacing: 10px;
}

.h-25 {
  height: 20% !important;
}

h1 {
  font-size: 8vh;
}

.link a{
  text-align: left;
  letter-spacing: 4px;
  font-size: 2.5vh !important;
}

#link1 { 
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
}

.link:hover > #link1 {
  transition: left 1s, 
              opacity 2s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link2 {
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
}

.link:hover > #link2 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link3 {
  left: -100px !important; 
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
}

.link:hover > #link3 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

.h-75 {
  height: 60% !important;
}

.overlay {
  height: 100%;
}

.intro {
  letter-spacing: 2px;
  left: 200px;
  height: 75% !important;
}

p {
  font-size: 1.8vh !important;
  letter-spacing: 1px;
}

.foot {
  font-size: 1vh !important;
  letter-spacing: 0.5px;
}

}

@media (min-width: 1400px) { 
  
.vh-100 {
  height: 120vh !important;
}

.h-100 {
  height: 120vh !important;
}

.h-75 {
  height: 30% !important;
}

.h-50 {
  height: 42% !important;
}

.h-25 {
  height: 18% !important;
}

.title {   
  letter-spacing: 12px;
  text-shadow: 50px 25px 8px #646e91, 
               10px 10px 7px #222629; 
  opacity: 60%;
  filter: blur(2.5px);
}

h1 {
  font-size: 10vh !important;
}

.link a{
  font-family: Noto Sans Light;
  letter-spacing: 6px;
  font-size: 1.5vh;
  color: #cdd6ff;
  text-align: left;
  text-decoration: none;
  text-shadow: 2px 2px 6px #96a3e8, 
               2px 2px 6px #222629 !important; 
  filter: blur(0.8px) 
          contrast(110%);
}

#link1 { 
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  animation: none !important;
}

#link1:hover {
  transition: left 1s, 
              opacity 2s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link2 {
  left: -100px !important;
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  animation: none !important;
}

.link:hover > #link2 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 0.5s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

#link3 {
  left: -100px !important; 
  opacity: 0% !important;
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  animation: none !important;
}

.link:hover > #link3 {
  transition: left 1s, 
              opacity 2s !important;
  transition-delay: 1s !important;
  left: 0 !important;
  opacity: 80% !important;
  width: 70% !important;
}

.overlay {
  height: 100%;
}

.carous1 {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

img {
  height: 40vh;
}

.carousel-item {
  width: 50vw !important;
  left: 350px;
}

.intro {
  letter-spacing: 2px;
  top: 213px;
  height: 75% !important;
}

.foot {
  font-family: monospace;
  font-size: 1.5vh !important;
  color: #cde6ff;  
  filter: blur(0.7px) 
          contrast(110%);
  letter-spacing: 0.5px;
  bottom: 40px;
}

}

@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}
